<div class="pet_new">
  <div>
    <%= form_for @pet, :url => pets_path do |pet| %>
      <div>
        <%= pet.label "Name", :name %>
        <%= pet.text_field :name %>
      </div>
      
      <div>
        <%= pet.label "Image", :photo%>
        <%= pet.file_field :photo %>
      </div>

      <div>
        <%= pet.label "Species", :species %>
        <%= pet.text_field :species %>
      </div>

      <div>
        <%= pet.label "Age", :age %>
        <%= pet.text_field :age %>
      </div>

      <div>
        <%= pet.label "Description", :description %>
        <%= pet.text_area :description %>
      </div>

      <div>
        <%= pet.submit "Create" %>
      </div>
    <% end %>
  </div>
</div>