<div class="pet_show">
  <div class="show_top">
    <div class="left">
      <%= image_tag @pet.photo.thumb_inform.url %>
    </div>

    <div class="right">
      <h2>
        <%= @pet.name %>
        <%= link_to "Follow #{@pet.tracks.count}", pet_tracks_path(@pet), method: :post %>
        <% if @pet.user_id == current_user.id %>
          <%= link_to "New Photos", new_album_path %>
          <%= link_to "Edit", edit_pet_path(@pet) %>
          <%= link_to "Delete", pet_path(@pet), method: :delete %>
        <% end %>
      </h2>
      
      <h4>
        Species : <%= @pet.species %>
      </h4>
      
      <h4>
        Age : <%= @pet.age %>
      </h4>

      <p>
        <%= @pet.description %>
      </p>
    </div>
  </div>

  <div class="show_bot">
    <% @pet.albums.each do |album| %>
      <div>
        <div class="img">
          <%= image_tag album.photos[0].thumb.url %>
        </div>

        <div class="content">
          <h3>
            <%= link_to "#{album.title}", album_path(album) %>
          </h3>

          <h5>
            <%= album.created_at %>
            <%= link_to "#{album.likes.count}Likes", album_likes_path(album), method: :post %>
          </h5>

          <p>
            <%= album.description %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>