<div class="index">

  <div class="index_block">
    
  </div>

  <div class="index_mid">
    <div class="mid_left">
      <%= link_to "Newest", albums_path %>
      <%= link_to "Popular", popular_path %>
      <%= link_to "Subscript", subscript_path %>

      <%= form_tag(albums_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag "Search", class: "submit" %>
      <% end %>

    </div>

    <% if current_user && (current_user.pets.count != 0 ) %>
      <div class="mid_right">
        <%= link_to "New Album", new_album_path %>
      </div>
    <% end %>
  </div>

  
  <div class="index_bot">
    <% @albums.each do |album| %>
      <div>
          <div class="img">
            <%= image_tag album.photos[0].thumb.url %>
          </div>

          <div class="content">
            <%= link_to "#{album.title}", album_path(album) %>
            <div class="content_mid">
                <%= album.created_at %>
                <div>
                  <% if  current_user && (current_user.id == album.user.id) %>            
                    <%= link_to "Edit", edit_album_path(album) %>
                    <%= link_to "Delete", album_path(album), method: :delete %>
                  <% end %>
                </div>
            </div>
            
            <p>
              <%= album.description %>
            </p>
          </div>
      </div>
    <% end %>
  </div>

</div>