<div class="album_new">
  <div>
    <%= form_for @album, :url => albums_path do |album| %>
      <div>
        <%= album.label "Name", :pet_id %>
        <%= album.collection_select(:pet_id, current_user.pets.all, :id, :name) %>
      </div>

      <div>
        <%= album.label "Title", :title %>
        <%= album.text_field :title %>
      </div>

      <div>
        <%= album.label "Description", :description %>
        <%= album.text_area :description %>
      </div>

      <div>
        <%= album.label "Images", :photos %>
        <%= album.file_field :photos , multiple: true %>
      </div>

      <div>
        <%= album.submit "Create" %>
      </div>
    <% end %>
  </div>
</div>