<div class="index">

  <div class="index_block">
    
  </div>

  <div class="index_mid">
    <div class="mid_left">
      <%= link_to "Newest", albums_path %>
      <%= link_to "Popular", popular_path %>
      <%= link_to "Subscript", subscript_path %>
    </div>

    <div class="mid_center">
      <%= form_tag(albums_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag "Search" %>
      <% end %>
    </div>

    <div class="mid_right">
      <%= link_to "New Album", new_album_path %>
    </div>
  </div>

  
  <div class="index_bot">
    <% @albums.each do |album| %>
      <div>
          <div class="img">
            <%= image_tag album.photos[0].thumb.url %>
          </div>
          <div class="content">
            <%= link_to "#{album.title}", album_path(album) %>
            <div class="content_mid">  
              <h4>
                <%= album.user.name %>
              </h4>
              <% if current_user.id == album.user.id %>
                <div>
                  <%= link_to "Edit", edit_album_path(album) %>
                  <%= link_to "Delete", album_path(album), method: :delete %>
                </div>
              <% end %>
            </div>
            <p>
              <%= album.description %>
            </p>
          </div>
      </div>
    <% end %>
  </div>

</div>