<div class="album_show">

  <div class="show_top">
    <div class="show_top_left">
      <div class="show_img">
        <i class="fa fa-chevron-left show_image_left" aria-hidden="true"></i>
        <div>
          <%= image_tag @album.photos[0].thumb_big.url %>
        </div>
        <i class="fa fa-chevron-right show_image_right" aria-hidden="true"></i>
      </div>

      <div class="show_all_image">
          <% @album.photos.each do |photo| %>
            <div>
              <%= image_tag photo.thumb_small.url %>
            </div>
          <% end %>
      </div>

    </div>

    <div class="show_top_right">
      <div class="top">
        <%= link_to "#{@album.pet.name}", pet_path(@album.pet) %>
        <h3>
          <%= @album.title %>
          <% like = @album.find_like_user(current_user) %>
          <% if like %>
            <%= link_to "#{@album.likes.count} Likes", album_like_path(@album, like), method: :delete %>
          <% else %>
            <%= link_to "#{@album.likes.count} Likes", album_likes_path(@album), method: :post %>
          <% end %>
        </h3>

        <div>
          <%= @album.created_at %>
          <% if current_user && current_user.id == @album.user_id %>
            <div>
              <%= link_to "Edit", edit_album_path(@album) %>
              <%= link_to "Delete", album_path(@album), method: :delete %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="mid">
        <p>
          <%= @album.description %>
        </p>
      </div>

      <div class="bot">
        <h3>
          <%= @album.comments.count %> Comments
        </h3>


        <div class="comments">
          <% @album.comments.each do |comment| %>
            <%= render :partial => "comments/comment_form", :locals =>{comment: comment } %>
          <% end %>
        </div>

        <% if current_user %>
          <div class="new_comment">
            <%= form_for [@album, Comment.new], remote: true do |comment| %>
              <%= comment.text_field :commenter, placeholder: "comment", class: "create_comment" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
 
  <div class="show_bot">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>

    <div>
      <% @album.pet.albums.each do |album| %>
        <div>
          <div class="img">
            <%= image_tag album.photos[0].thumb_inform.url %>
          </div>

          <div class="title">
            <%= link_to "#{album.title}", album_path(album) %>
          </div>
        </div>
      <% end %>
    </div>

    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
</div>