<p>this is album's index</p>

  <%= link_to "Newest", albums_path %>
  <%= link_to "Popular", popular_path %>
  <%= link_to "Subscript", subscript_path %>

  <%= form_tag(albums_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search" %>
  <% end %>

<% @pets.each do |pet| %>
  <%= pet.name %>
<% end %>

<% @pets.each do |pet| %>
  <% pet.albums.each do |album| %>
    <%= link_to "#{album.title}", album_path(album) %>
    <%= image_tag album.photos[0].thumb.url %>
  <% end %>

<% end %>