<!DOCTYPE html>
<html>
  <head>
    <title>PetAlbum8</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <div class="fix_bar">
        <div class="fix_left">
          <%= link_to "PetHold", albums_path %>
          <%= link_to "New Pet", new_pet_path %>
        </div>
        <div class="fix_right">
          <% if user_signed_in? %>
          <%= link_to "Account", edit_user_registration_path %>
          <%= link_to "sign out", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
          <% end %>  
        </div>
    </div>

    <%= yield %>

    <div class="footer">
      <p>
        copy by Huang
      </p>
    </div>

  </body>
</html>
